.default-color0.chart-pie { -fx-pie-color: #0F9D58; }
.default-color1.chart-pie { -fx-pie-color: #FF0000; }
.default-color2.chart-pie { -fx-pie-color: #860061; }
.default-color3.chart-pie { -fx-pie-color: #adff2f; }
.default-color4.chart-pie { -fx-pie-color: #ff5700; }

/*
#password.text-field,#login.text-field {
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

#password.text-field:focused,#login.text-field:focused {
-fx-background-color: #0c343dff;
-fx-background-insets: 0 0 -1 0, 0, 1, 2;
-fx-background-radius: 3px, 3px, 2px, 1px;
-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
-fx-text-fill: white;
-fx-alignment: CENTER;
-fx-content-display: LEFT;
}
*/

.jfx-combo-box{
   -fx-text-fill: white;
   -fx-prompt-text-fill: #ffffff;
}
.jfx-combo-box .text-field{
   -fx-text-fill: white;
}
.jfx-combo-box .text-field:focused {
   -fx-text-fill: white;
}
.combo-box > .list-cell {
-fx-background: #0c343dff;
-fx-background-color: #0c343dff;
-fx-text-fill: white;
-fx-font-size: 22pt;
-fx-font-family: "Lobster";
}

#settingGridPane{
-fx-scale-x: 1.0;
-fx-scale-y: 1.0;
-fx-scale-z: 1.0;
}
#settingGridPane .box {
-fx-scale-x: 1.2;
-fx-scale-y: 2.0;
-fx-scale-z: 1.0;
-fx-translate-x: -1px;
-fx-translate-y: 0px;
-fx-border-width: 0px;
}
#settingGridPane:indeterminate  > .box{
-fx-scale-x: 1.2;
-fx-scale-y: 2.0;
-fx-scale-z: 1.0;
-fx-translate-x: -1px;
-fx-translate-y: 0px;
-fx-border-width: 0px;
}
#settingGridPane .box > .mark{
-fx-padding: 5px;
-fx-scale-x: 1.0;
-fx-scale-y: 1.0;
-fx-scale-z: 1.0;
}

.titled-pane{
    -fx-text-fill: white;
}
.titled-pane .title {
    -fx-alignment: center-left;
    -fx-font-family: "Open Sans";
    -fx-cursor: "hand";
    -fx-focus-color: #999;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.titled-pane:expanded {
    -fx-text-fill: white;
}

.titled-pane:expanded > .title {
    -fx-base: #555555;
    -fx-text-fill: white;
}

.titled-pane:hover > .title {
    -fx-base: #555555;
}

.titled-pane:hover {
    -fx-text-fill: white;
}

.titled-pane .arrow {
    -fx-opacity: 1;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tab{
    -fx-background-color:   -fx-background;
    -fx-background: pink ;
}

.tab:hover{
    -fx-background: black;
    -fx-text-fill: white;
}

.tab:selected{
    -fx-background:    #e83062;
}