

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}

.tab{
    -fx-background-color:   -fx-background;
    -fx-background: pink ;
}

.tab:hover{
    -fx-background: black;
    -fx-text-fill: white;
}

.tab:selected{
    -fx-background:    #e83062;
}